@font-face {
	font-family:  'BlissPro-ExtraLight';
	src:          url('assets/fonts/BlissPro-ExtraLight.woff') format('woff');
	font-weight:  200;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'BlissPro-Light';
	src:          url('assets/fonts/BlissPro-Light.woff') format('woff');
	font-weight:  300;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'BlissPro-Regular';
	src:          url('assets/fonts/BlissPro-Regular.woff') format('woff');
	font-weight:  400;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'BlissPro-Medium';
	src:          url('assets/fonts/BlissPro-Medium.woff') format('woff');
	font-weight:  500;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'BlissPro-Bold';
	src:          url('assets/fonts/BlissPro-Bold.woff') format('woff');
	font-weight:  700;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'BlissPro-ExtraBold';
	src:          url('assets/fonts/BlissPro-ExtraBold.woff') format('woff');
	font-weight:  800;
	font-style:   normal;
	font-display: swap;
}

@font-face {
	font-family:  'BlissPro-Heavy';
	src:          url('assets/fonts/BlissPro-Heavy.woff') format('woff');
	font-weight:  900;
	font-style:   normal;
	font-display: swap;
}